<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
        <% include pageHeader %>
    <div class="container-fluid">


<div class="row"><div class="col-xs-12">

<form method='POST' action='/products/save'>
<input type='hidden' name='docreate' value='<%= docreate ? "create" : "update"%>'>

<div class="form-group">
    <label for="SKU">SKU</label>
    <% if (docreate) { %>
        <input class="form-control" type='text' id='SKU' name='SKU' value='' placeholder='SKU'/>
    <% } else { %>
        <%= product ? product.SKU : "" %>
        <input  class="form-control" type='hidden' id='SKU' name='SKU' value='<%= product ? product.SKU : "" %>'/>
    <% } %>
</div>

<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id='name' name='name' placeholder="Product name" value='<%= product ? product.name : "" %>'>
</div>

<div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="" id='image' name='image' />
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name='description' rows="3"><%= product ? product.description : "" %></textarea>
</div>

<div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" name='price' value='<%= product ? product.price : "" %>' >
</div>

<div class="form-group">
    <label for="instock">Quantity Avaliable</label>
    <input type="text" class="form-control" name='instock' value='<%= product ? product.instock : "" %>'>
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</form>

<% include footer %>
</div>
</body>
</html>
