<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
        <% include pageHeader %>
    <div class="container-fluid">


            <h3>Customer</h3>
<div class="row">

    
    <div class="col-sm"><label>Name</label><%= customer.firstName + " " + customer.lastName %></div>
</div>
    <div class="row">
    <div class="col-sm"><label>Phone</label><%= customer.phone %></div>
</div>
    <hr/>
<div class="row">
<div class="col">
    <h3>Products</h3>
    <% if( productsInCart != undefined && productsInCart.length != 0 ) { %>
        <% for ( var p of productsInCart ) { %>
            <div class="row">
                <span class="col-sm-6"><label>Name</label><%= p.name %></span>
                <span class="col-sm-3"><label>Price</label>$<%= p.price %></span>
                <span class="col-sm-3"><label>SKU</label><%= p.SKU %></span>
                <hr />
            </div>
    <% } } %>
    <hr/>
    
        <div class="row"><span class="col-6"></span><label class="col-2">Sub Total</label><span class="col-3">$<%= transaction.totalPrice %></span></div>
        <div class="row"><span class="col-6"></span><label class="col-2">Tax</label><span class="col-3">$<%= transaction.salesTax %></span></div>
        <div class="row"><span class="col-6"></span><label class="col-2">Total</label><span class="col-3"><h2 class="inline font-weight-bold text-primary">$ <%= (parseFloat(transaction.totalPrice) + parseFloat(transaction.salesTax)).toFixed(2) %></h2></span></div>
        
        <hr/>
    <br/>
    <a class="btn btn-success" id="btnplaceorder" href="/transactions/PlaceOrder?id=<%= transaction.id %>" role="button">Place Order</a>
</div>
</div>

<% include footer %>

</div>
</body>
</html>
